.contact{
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}
.product-top{
  width: 1200px;
  position: relative;
}
.product-top img{
  width: 1200px;
}
.img-text{
  position: absolute;
  top: 45px;
  left: 480px;
}
.img-text ul{
  display: flex;
  margin-left: 60px;
}
.img-text ul li{
  padding: 0 5px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.img-text ul li:first-child{
  color:#60be74 ;
}
.img-text h2{
  margin: 0px 0px 20px;
  font-family: '楷体';
  line-height: 1;
  color: rgb(255, 255, 255);
  font-size: 65px
}

 .cover{
  font-family: "Roboto", sans-serif;
  color: #8c8c8c;
  position: relative; 
  background-image: url(../img/contact-bg-1-1.png);
  background-repeat: no-repeat;
  background-position-x: top;
}
.text-black {
  color: #000; }
.content {
  padding: 5rem 0; 
  background-image: url(../img/contact-bg-1-2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 435px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }
.col-form-label {
  color: #000;
  font-size: 13px; }
.btn, .form-control, .custom-select {
  height: 45px;
  border-radius: 0; }
  .main{
    width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    box-shadow:  #8c8c8c 0px 2px 6px 1px;
  }
  .main-text{
    text-align: center;
    margin-top:53px;
  }
  .group{
    /* width: 800px; */
    /* margin: 0 auto; */
    text-align: center;
    /* box-shadow:  #8c8c8c 0px 2px 6px 1px; */
    height: 500px;
  }
  h3{
    padding: 15px 0;
    color: #000;
  }
  form{
    width:650px;
    text-align: center;
    /* margin: 0 auto; */
  }
  .form-group{
    width: 650px;
    height: 90px;
    text-align: center;
  }
  input{
    width: 300px;
    text-indent: 2em;
  }
  textarea{
    width: 275px;
  }
  .inp{
    background-color: #60be74 ;
    border-radius: 10px;
    border: 0;
    height: 30px;
  }
  .map{
    width: 550px;
    background-color: #fff;
   border-left: 1px solid #60be74;
    }
